.post_container {
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.04);
}

.head_post {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}

.author_post {
    margin-right: 1rem
}

.subreddit_post {
    color: #808080;
    font-size: 1.5rem;
    font-weight: 100;
}

.data_post {
    margin-left: auto;
    color: #808080;
    font-size: 1rem;
}


.title_post {
    margin-right: auto;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.text_post {
    width: 100%;
    line-height: 1.42;
    font-weight: 100;

    overflow-y: scroll;
    max-height: 500px;
}

.image_container {
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
}

.image_container img {
    width: 100%;
}

.comments_post {
    margin-right: auto;
    color: #c71585;
    margin-top: 1rem;
}